<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="png.css">
</head>
<body>
    <section class ="hero"></section>
    <div class="heading">
    <h1>About us</h1>
</div>
<div class="container">
    <div class="hero-content">
        <h2>welcome</h2>
        <p>
            Coding creates a set of instructions for computers to follow. 
            These instructions determine what actions a computer can and cannot take.
             Coding allows programmers to build programs, 
             such as websites and apps.
              Computer programmers can also tell computers how to process data in better, faster ways. 
</p>
        <button class="cta-button">Learn More</button>
    </div>
    <div class="hero-image">
        <img src="https://www.shutterstock.com/shutterstock/photos/1685909200/display_1500/stock-photo-african-girl-school-student-e-learning-distance-training-course-study-work-at-home-office-ethnic-1685909200.jpg">
    </div>
</div>
</body>
</html>